In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
path = 'C:/Users/18280/Desktop/RS/Recommended_System-master/L2/steam_video_games/steam-200K.csv'
df = pd.read_csv(path,header = None,names = ['UserID','Game','Action','Hours','Not Needed'])
df.head()

      UserID                        Game    Action  Hours  Not Needed
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0           0
1  151603712  The Elder Scrolls V Skyrim      play  273.0           0
2  151603712                   Fallout 4  purchase    1.0           0
3  151603712                   Fallout 4      play   87.0           0
4  151603712                       Spore  purchase    1.0           0

In [3]:
print('显示数据大小')
print(df.shape)

显示数据大小
(200000, 5)

In [4]:
# 创建Hours_Played字段，替代原有的Action和Hours，0表示仅购买，大于0表示购买且游戏时长
df['Hours_Played'] = df['Hours'].astype('float32')
# 如果字段Action=purchase，并且Hours=1.0，将设置Hours_Played=0
df.loc[(df['Action']=='purchase')&(df['Hours']==1),'Hours_Played'] = 0
print(df['Hours_Played'][0:3])
print(df.shape)

0      0.0
1    273.0
2      0.0
Name: Hours_Played, dtype: float32
(200000, 6)

In [8]:
# 对数据从小到大进行排序, df下标也会发生变化
df['UserID'] = df['UserID'].astype('int')
df  = df.sort_values(['UserID','Game','Hours_Played'],ascending = True)
df.head()

       UserID             Game    Action  Hours  Not Needed  Hours_Played
65429    5250      Alien Swarm  purchase    1.0           0           0.0
65430    5250      Alien Swarm      play    4.9           0           4.9
65423    5250  Cities Skylines  purchase    1.0           0           0.0
65424    5250  Cities Skylines      play  144.0           0         144.0
65435    5250   Counter-Strike  purchase    1.0           0           0.0

In [9]:
# 删除重复项，并保留最后一项出现的项（因为最后一项是用户游戏时间，第一项为购买）
clean_df = df.drop_duplicates(['UserID','Game'],keep = 'last')
# 去掉不用的列：Action, Hours, Not Needed
clean_df = clean_df.drop(['Action','Hours','Not Needed'],axis=1)
print('删除重复项后的数据集为：')
print(clean_df)
print(clean_df.head(0))

删除重复项后的数据集为：
           UserID                                        Game  Hours_Played
65430        5250                                 Alien Swarm           4.9
65424        5250                             Cities Skylines         144.0
65435        5250                              Counter-Strike           0.0
65436        5250                       Counter-Strike Source           0.0
65437        5250                               Day of Defeat           0.0
65438        5250                          Deathmatch Classic           0.0
65426        5250                    Deus Ex Human Revolution          62.0
65434        5250                                      Dota 2           0.2
65439        5250                                   Half-Life           0.0
65440        5250                                 Half-Life 2           0.0
65441        5250                      Half-Life 2 Deathmatch           0.0
65442        5250                     Half-Life 2 Episode One           0.0
65443        5250                     Half-Life 2 Episode Two           0.0
65444        5250                      Half-Life 2 Lost Coast           0.0
65445        5250                        Half-Life Blue Shift           0.0
65446        5250                    Half-Life Opposing Force           0.0
65447        5250                                      Portal           0.0
65428        5250                                    Portal 2          13.6
65448        5250                                    Ricochet           0.0
65432        5250                             Team Fortress 2           0.8
65449        5250                       Team Fortress Classic           0.0
55935       76767                Age of Empires II HD Edition          13.1
55951       76767                                 Alien Swarm           0.8
55954       76767                                      Arma 2           0.0
55955       76767                  Arma 2 Operation Arrowhead           0.0
55956       76767  Arma 2 Operation Arrowhead Beta (Obsolete)           0.0
55927       76767                                    Banished          24.0
55929       76767                      Call of Duty Black Ops          22.0
55937       76767        Call of Duty Black Ops - Multiplayer          12.5
55923       76767               Call of Duty Modern Warfare 2          65.0
...           ...                                         ...           ...
159703  309058572                                      Dota 2           5.2
65218   309107542                                      Dota 2           6.7
162298  309138595                                      Dota 2           0.8
57571   309167186                                    Portal 2           1.1
54584   309181805                              Apotheon Arena           0.0
54583   309181805                                  Brawlhalla           3.2
61011   309188905                Counter-Strike Nexon Zombies           6.1
61013   309188905                                    Unturned           0.8
63423   309213952                                      Dota 2          13.8
99380   309216884                                      Dota 2           4.0
144300  309228590                                      Dota 2           0.3
117508  309255941                           Mitos.is The Game           5.7
110143  309262440            A.V.A - Alliance of Valiant Arms           0.0
110144  309262440                         CrimeCraft GangWars           0.0
110142  309262440                             Team Fortress 2           1.2
196882  309265377                                  Brawlhalla           2.0
196884  309265377                            MicroVolts Surge           0.8
72980   309375103                     East India Company Gold           0.0
25710   309404240                        AdVenture Capitalist           0.7
25708   309404240                           Mitos.is The Game           2.2
25706   309404240                             Team Fortress 2           2.2
25712   309404240                                Transformice           0.3
25704   309404240                                    Unturned          13.0
52812   309434439                                      Dota 2           0.8
169505  309554670                           Mitos.is The Game           5.9
18803   309626088                Age of Empires II HD Edition           6.7
170024  309812026                Counter-Strike Nexon Zombies           0.0
170025  309812026                                   Robocraft           0.0
10222   309824202                                      Dota 2           0.7
129085  309903146                                      Dota 2           0.2

[128804 rows x 3 columns]
Empty DataFrame
Columns: [UserID, Game, Hours_Played]
Index: []

In [10]:
clean_df.head(0)

Empty DataFrame
Columns: [UserID, Game, Hours_Played]
Index: []

In [16]:
n_user = len(clean_df['UserID'].unique())
n_games = len(clean_df['Game'].unique())
print('用户数量:%d,游戏个数为:%d'%(n_user,n_games))
# print('数据集中包含了 {0} 玩家，{1} 游戏'.format(n_users, n_games))

用户数量:12393,游戏个数为:5155

In [17]:
# 矩阵的稀疏性
clean_df.shape[0]

128804

In [19]:
sparsity = clean_df.shape[0] / float(n_user * n_games)
print('用户行为矩阵的稀疏性（填充比例）为{:.2%} '.format(sparsity))

用户行为矩阵的稀疏性（填充比例）为0.20%