In [2]:
# 查看数据集结构
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(10).reshape(2,5))
df

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [3]:
len(df)

2

In [4]:
df = pd.read_csv('C:/Users/18280/Desktop/RS/Recommended_System-master/L2/delicious-2k/user_taggedbookmarks-timestamps.dat',sep='\t')
df[999:1010]

      userID  bookmarkID  tagID      timestamp
999      242         403    537  1289232482000
1000     242         403    538  1289232482000
1001     242         403    539  1289232482000
1002     242         403    540  1289232482000
1003     242         403    541  1289232482000
1004     242         403    542  1289232482000
1005     242         403    543  1289232482000
1006     242         403    544  1289232482000
1007     242         405     97  1288879058000
1008     242         405    382  1288879058000
1009     242         405    499  1288879058000

# dict()函数

### dict() 函数用于创建一个字典。

In [1]:
# 创建空字典
print(dict())
# 传入关键字
print(dict(a=1,c=3,v=9))
#映射方式来构造字典
print(dict(zip([1,2,3],[3,3,3])))
# 采用可迭代对象的方式构造字典
print(dict([('a',1),('c',3),('d',9)]))

{}
{'a': 1, 'c': 3, 'v': 9}
{1: 3, 2: 3, 3: 3}
{'a': 1, 'c': 3, 'd': 9}

# setdefault()函数

### 如果 key 在 字典中，返回对应的值。如果不在字典中，则插入 key 及设置的默认值 default，并返回 default ，default 默认值为 None

In [2]:
dict = {'Name': 'Runoob', 'Age': 7}
 
print ("Age 键的值为 : %s" %  dict.setdefault('Age', None))
print ("Sex 键的值为 : %s" %  dict.setdefault('Sex', None))
print ("新字典为：", dict)

Age 键的值为 : 7
Sex 键的值为 : None
新字典为： {'Name': 'Runoob', 'Age': 7, 'Sex': None}

# Dictionary keys()方法

### 返回一个字典所有的键。

In [4]:
dict = {'Name': 'Zara', 'Age': 7}

print("Value : %s" %  dict.keys())

Value : dict_keys(['Name', 'Age'])

# Dictionary items() 方法

### 列表返回可遍历的(键, 值) 元组数组

In [1]:
dict = {'Name': 'Runoob', 'Age': 7}
 
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Runoob'), ('Age', 7)])

In [4]:
for i,v in dict.items():
    print(i,v)

Name Runoob
Age 7

# sorted函数

### 对所有可迭代的对象进行排序操作，返回的是一个新的 list，而不是在原来的基础上进行的操作。
### 语法：sorted(iterable, key=None, reverse=False)

In [8]:
example_list = [5, 0, 6, 1, 2, 7, 3, 4]
result_list = sorted(example_list, key=lambda x: x*-1)
print(result_list)

[7, 6, 5, 4, 3, 2, 1, 0]

In [9]:
array = [{"age":20,"name":"a"},{"age":25,"name":"b"},{"age":10,"name":"c"}]
array = sorted(array,key=lambda x:x["age"])
print(array)

[{'age': 10, 'name': 'c'}, {'age': 20, 'name': 'a'}, {'age': 25, 'name': 'b'}]

In [10]:
#先按照成绩降序排序，相同成绩的按照名字升序排序
d1 = [{'name':'alice', 'score':38}, {'name':'bob', 'score':18}, {'name':'darl', 'score':28}, {'name':'christ', 'score':28}]
l = sorted(d1, key=lambda x:(x['score'], x['name']))
print(l)

[{'name': 'alice', 'score': 38}, {'name': 'christ', 'score': 28}, {'name': 'darl', 'score': 28}, {'name': 'bob', 'score': 18}]

# operator.itemgetter函数
### 用于获取对象的哪些维的数据，参数为一些序号（即需要获取的数据在对象中的序号），下面看例子。